div.main {
    color: white;
    
    background: rgba(0, 0, 0, 0.6);
    select.form-control {
        background: rgba(0, 0, 0, 0.8);
        color: white;
    }
    input.form-control {
        background: rgba(0, 0, 0, 0.8);
        color: white;
    }
}